<div class="row-fluid">
  <div class="col-xs-12 col-md-12 col-lg-3 columns">
    <div class="main-l-profile form-container">
      <div class="header"></div>
      <div class="body">
        <a href="profile/index.html">
          <%= image_tag(@user.avatar.url(:medium), alt: "Profile Image", class: "ava") %>
        </a>
        <div class="bottom">
          <h4 class="profile-name">
            <% if can? :edit, @user %>
              <a class="link--name" href="<%= edit_user_path(@user)%>"><%= @user.full_name %>&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i></a>
            <% else %>
              <%= @user.full_name %>
            <% end %>
          </h4>
          <p class="description"><%= @user.bio %></p>
        </div>
      </div>
    </div>
    <% if current_user.id == @user.id %>
      <div class="main-l-profile form-container m-t-20 x-padding">
        <strong>Pending Request:</strong>
        <% if @user.pending_request.present? %>
          <% @user.pending_request.each do |pen_con| %>
            <div class="row sing-request m-t-20">
              <div class="col-xs-12 columns no-padding">
                <div class="col-xs-12 columns">
                  <%= pen_con.friend.full_name %>
                </div>
                <div class="col-xs-12 columns">
                  <a href="javascript:;" data-url="<%= user_connection_path(user_id: @user.id, id: pen_con.id, status: Connection::STATUS_ACTIVE) %>" class="fr-request-resp btn btn-success"> Accept </a>
                  <a href="javascript:;" data-url="<%= user_connection_path(user_id: @user.id, id: pen_con.id, status: Connection::STATUS_DECLINED) %>" class="fr-request-resp btn btn-warning"> Decline</a>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div>No Pending Request</div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-6 columns">
    <% if can? :read, @user %>
      <% if current_user.id == @user.id %>
        <div class="row-fluid">
          <div class="form-container">
            <%= form_for @post, url: posts_path, html: {class: "form-ajax", method: "POST", :remote => true, "data-prepend-el" => "#posts-collection"} do |f| %>
              <textarea class="form-control text-editor" id="post_content" name="post[content]" placeholder="What's on your mind?" required="required">
              </textarea>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div class="message-bottom">
                <button class="btn btn-primary btn-sm btn-padding">Post</button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row-fluid post-showroom <%= current_user.id != @user.id ? 'nomargin' : '' %>" id="posts-collection">
        <%= render partial: "posts/entity", collection: @post_collection %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @post_collection %>
      </div>
    <% else %>
      You need to be friend with <strong><%= @user.full_name %></strong> to view posts!
      <div class="row-fluid m-t-20">
        <% if current_user.has_friend_request?(@user) %>
          <button class="btn btn-info" disabled="disabled">Request Has Been Sent</button>      
        <% else %>
          <a href="javascript:;" data-url="<%= new_user_connection_path(current_user, friend_id: @user.id) %>" class="btn btn-primary friend-request">Send Friend Request</a>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-3 columns" id="current-weather">
  </div>
</div>
