<div class="row-fluid">
  <div class="col-xs-12 col-md-12 col-lg-3 columns">
    <div class="main-l-profile form-container">
      <div class="header"></div>
      <div class="body">
        <a href="profile/index.html">
          <%= image_tag("emy.jpg", alt: "Profile Image", class: "ava") %>
        </a>
        <div class="bottom">
          <h4 class="profile-name">
            <a class="link--name" href="profile/index.html">Louis Hoang</a>
          </h4>
          <p class="description">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-6 columns">
    <div class="row-fluid">
      <div class="form-container">
        <%= form_for @post, url: posts_path, html: {class: "form-ajax", method: "POST", :remote => true} do |f| %>
          <textarea class="form-control text-editor" id="post_content" name="post[content]" placeholder="What's on your mind?">
          </textarea>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="message-bottom">
            <button class="btn btn-primary btn-sm btn-padding">Post</button>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid post-showroom">
      <% @post_collection.each do |post| %>
        <div class="form-container c-padding no-radius post-detail">
          <div class="row">
            <div class="col-xs-12 columns">
              <div class="post-header">
                <div class="col-xs-2 columns no-padding">
                  <%= image_tag("emy.jpg", alt: "Profile Image", class: "xs-thumb") %>
                </div>
                <div class="col-xs-10 columns no-padding">
                  <%= post.user.email %>
                  <div class="post-date">
                    <%= post.updated_at.to_s(:post_datetime) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 columns m-t-20">
              <div class="post-body">
                <%= post.content.html_safe %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sline">
            </div>
            <div class="col-xs-12 columns">
              <div class="post-bottom">
                <i class="fa fa-commenting-o"></i> Comment
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-xs-12 col-md-12 col-lg-3 columns">
    right
  </div>
</div>
